# Data Types and Structures Questions

### 1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data to enable efficient access and modification. They are crucial because they provide a means to manage large amounts of data efficiently, such as databases, indexing services, and operating systems.

### 2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be changed after creation (e.g., lists, dictionaries, sets), while immutable data types cannot be changed (e.g., integers, strings, tuples).

Example:
```python
x = [1, 2, 3]  # mutable
x[0] = 100

s = 'hello'  # immutable
# s[0] = 'H'  # This will cause an error
```

### 3. What are the main differences between lists and tuples in Python?
- Lists are mutable, while tuples are immutable.
- Lists use square brackets `[]`, tuples use parentheses `()`.
- Tuples are generally faster and used for fixed data.

### 4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs. Internally, they use a hash table to map keys to values, which allows for fast access.

### 5. Why might you use a set instead of a list in Python?
Sets are unordered collections of unique elements. They are useful when you want to eliminate duplicates and perform set operations like union, intersection, etc.

### 6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters. A list is a mutable sequence that can contain elements of any type. Unlike lists, strings cannot be modified.

### 7. How do tuples ensure data integrity in Python?
Since tuples are immutable, they prevent accidental modification of data, making them suitable for representing constant data or keys in dictionaries.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables for efficient key-value access.

### 9. Can lists contain different data types in Python?
Yes, Python lists can contain elements of different data types, including integers, strings, and even other lists or objects.

### 10. Explain why strings are immutable in Python.
Strings are immutable to enhance performance and security, especially when used as keys in dictionaries or during string interning.

### 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide faster lookups for key-based access, making them more suitable than lists for tasks like searching and mapping data.

### 12. Describe a scenario where using a tuple would be preferable over a list.
When the data is constant and should not be changed, such as storing coordinates (x, y), using a tuple ensures data integrity.

### 13. How do sets handle duplicate values in Python?
Sets automatically remove duplicate values. Adding a duplicate element has no effect.

### 14. How does the “in” keyword work differently for lists and dictionaries?
`in` checks for value presence in lists, but checks for key presence in dictionaries.

### 15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, so once created, their elements cannot be changed.

### 16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary within another dictionary. It's useful for representing hierarchical data.

Example:
```python
student = {'name': 'John', 'grades': {'math': 90, 'science': 85}}
```

### 17. Describe the time complexity of accessing elements in a dictionary.
Accessing elements in a dictionary has average-case time complexity of O(1) due to hash table implementation.

### 18. In what situations are lists preferred over dictionaries?
When order matters or when data is accessed by index rather than key.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries were unordered before Python 3.7. Now they preserve insertion order but logically are still key-based, meaning their access pattern doesn't depend on sequence.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve data by index (position), whereas dictionaries retrieve data by key (label).

# Practical Questions

### 1. Write a code to create a string with your name and print it.

In [2]:
name = 'Kuldeep'
print(name)

Kuldeep

### 2. Write a code to find the length of the string "Hello World".

In [3]:
s = 'Hello World'
print(len(s))

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
s = 'Python Programming'
print(s[:3])

Pyt

### 4. Write a code to convert the string "hello" to uppercase.

In [5]:
s = 'hello'
print(s.upper())

HELLO

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
t = (10, 20, 5, 15)
print(min(t))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
t = ('apple', 'banana', 'mango')
print('kiwi' in t)

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
d = {'name': 'Kuldeep', 'age': 25, 'city': 'India'}
print(d)

{'name': 'Kuldeep', 'age': 25, 'city': 'India'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
lst = [1, 2, 3]
tup = (1, 2, 3)
d = {'one': 1, 'two': 2}
print(lst, tup, d)

[1, 2, 3] (1, 2, 3) {'one': 1, 'two': 2}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [27]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[31, 36, 45, 71, 76]

### 28. Write a code to create a list with strings and print the element at the third index.

In [29]:
lst = ['apple', 'banana', 'cherry', 'date', 'fig']
print(lst[3])

date

### 29. Write a code to combine two dictionaries into one and print the result.

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of strings into a set.

In [31]:
lst = ['apple', 'banana', 'cherry', 'apple']
print(set(lst))

{'cherry', 'apple', 'banana'}

# ------------------- Thank You --------------------